
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.main_container_signup {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.box {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

p {
  text-align: center;
  /* margin-top: 15px; */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
.button-container {
  margin-bottom: 5px;
 }
 .button-container1 {
  margin-bottom: 5px;
 }
 .error-container {
  text-align: center;
  font-size: 4em;
}
.error-container p{
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
  .main_container_signup {
    max-width: 100%;
  }
}
